.OnlineCompiler {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.code-editor {
    flex-grow: 1;
    width: 80%;
    margin: auto;
}

@media (max-width: 500px) {
    .OnlineCompiler h1 {
        padding-top: 30px;
    }
}