.onlineCompiler {
    display: flex;
    min-height: calc(100vh - 50px);
    flex-direction: column;
    margin: 20px auto;
    width: 80vw;
    box-sizing: border-box;
}

.editorContainer {
    width: 100%;
    margin: auto;
    flex-grow: 1;
    padding: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.ioBox {
    background-color: #1e1e1e;
    flex-grow: 1;
    color: 'white';
    padding: 10px;
    height: 50%;
}

.controlBar {
    background-color: grey;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 5px
}