.OnlineCompiler {
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background-color 0.5s ease-in-out, color 0.3s ease-in-out;
}

.code-editor {
    flex-grow: 1;
    width: 80%;
    margin: auto;
    transition: background-color 0.5s ease-in-out, color 0.3s ease-in-out;
}

@media (max-width: 500px) {
    .OnlineCompiler h1 {
        padding-top: 30px;
    }
}