.quiz-card {
    position: relative;
    width: 20rem;
    height: 25rem;
    backdrop-filter: blur(8px);
    border-radius: 0.75rem;
    border: 2px solid lightblue; 
    overflow: hidden;
    transform: scale(0.9);
    display: flex;
    flex-direction: column;
    background-color: #999;
  }
  
  .quiz-img-container {
    width: 100%;
    height: 40%;
    margin: 1rem auto 0;
    display: flex;
    justify-content: center;
  }
  
  .quiz-title {
    flex-grow: 1;
    padding: 1rem;
    background-color: transparent; 
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    font-family: 'Google Sans', sans-serif;
  }

  .quiz-info {
    text-align: center;
  }

  .play-button-container {
    width: 100%; 
    display: flex;
    justify-content: center;
  }

  .play-button {
    background-color: lightblue  !important;
    font-size: 1.2rem !important;
    color: black !important
  }

  .play-button:hover {
    background-color: #76bdd5  !important;
  }

