.navbar,
.navbar-brand,
.nav-link {
  font-family: "Product Sans", sans-serif;
  color: inherit !important;
}

body.dark-mode .navbar {
  background-color: #1b1e1f;
  border-bottom: 1px solid #333;
}

.navbar {
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
}
