.navbar,
.navbar-brand,
.nav-link {
  font-family: "Product Sans", sans-serif;
  color: inherit !important;
}

body.dark-mode .navbar {
  background-color: #1b1e1f;
  border-bottom: 1px solid #333;
}

.navbar {
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
}

/* Drawer Button */
#burger {
  color: black;
  cursor: pointer;
  font-size: 32px;
}

body.dark-mode #burger {
  color: white;
  cursor: pointer;
  font-size: 32px;
}

/* Drawer Styles */
.drawer-close {
  color: black;
  cursor: pointer;
}

body.dark-mode .drawer-close {
  color: white;
  cursor: pointer;
}

.drawer-content {
  width: 275px;
  background-color: #e9ecef;
  color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

body.dark-mode .drawer-content {
  width: 275px;
  background-color: #212529;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.drawer-content a {
  color: black;
  text-decoration: none;
  padding: 10px 0;
  position: relative;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .drawer-content a {
  color: white;
  text-decoration: none;
  padding: 10px 0;
  position: relative;
  transition: background-color 0.3s, color 0.3s;
}

.drawer-content a::after {
  content: '';
  display: block;
  width: 80%;
  height: 1px;
  background-color: #999999;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 10%;
}

body.dark-mode .drawer-content a::after {
  content: '';
  display: block;
  width: 80%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 10%;
}

.drawer-content a:last-child::after {
  display: none;
}

.drawer-content a:hover::after {
  background-color: #404040;
  transform: background-color 0.5s ease-in-out;
}

body.dark-mode .drawer-content a:hover::after {
  background-color: rgba(255, 255, 255, 0.5);
  transform: background-color 0.5s ease-in-out;
}

.drawer-content .nav-link {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

